<h2>Reserva de espacios<h2>
<div class="form-container">
    <h2>Reserva de Oficina de Alquiler Prolongado 1</h2>
    <form>
        <div class="form-group">
            <label for="meses">Duración del Alquiler (meses):</label>
            <select id="meses" name="meses" required>
                <option value="1">1 mes</option>
                <option value="3">3 meses</option>
                <option value="6">6 meses</option>
                <option value="12">12 meses</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit">Enviar Reserva</button>
        </div>
    </form>
</div>
<div class="form-container">
    <h2>Reserva de Oficina de Alquiler Prolongado 2</h2>
    <form>
        <div class="form-group">
            <label for="meses">Duración del Alquiler (meses):</label>
            <select id="meses" name="meses" required>
                <option value="1">1 mes</option>
                <option value="3">3 meses</option>
                <option value="6">6 meses</option>
                <option value="12">12 meses</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit">Enviar Reserva</button>
        </div>
    </form>
</div>
<div class="form-container">
    <h2>Reserva de Oficina de Alquiler Prolongado 3</h2>
    <form>
        <div class="form-group">
            <label for="meses">Duración del Alquiler (meses):</label>
            <select id="meses" name="meses" required>
                <option value="1">1 mes</option>
                <option value="3">3 meses</option>
                <option value="6">6 meses</option>
                <option value="12">12 meses</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit">Enviar Reserva</button>
        </div>
    </form>
</div>
<div class="form-container">
    <h2>Reserva de Sala de Reuniones</h2>
    <form>
        <div class="form-group">
            <label for="turno">Turno:</label>
            <select id="turno" name="turno" required>
                <option value="mañana">Mañana completa</option>
                <option value="tarde">Tarde completa</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit">Enviar Reserva</button>
        </div>
    </form>
</div>

<div class="form-container">
    <h2>Reserva de Sala de Proyecciones</h2>
    <form>
        <div class="form-group">
            <label for="turno">Turno:</label>
            <select id="turno" name="turno" required>
                <option value="mañana">Mañana completa</option>
                <option value="tarde">Tarde completa</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit">Enviar Reserva</button>
        </div>
    </form>
</div>

<div class="form-container">
    <h2>Reserva de Espacios Coworking 1</h2>
    <form>
        <div class="form-group">
            <label for="meses">Duración del Alquiler (semanas):</label>
            <select id="meses" name="meses" required>
                <option value="1">1 semana</option>
                <option value="3">2 semanas</option>
                <option value="6">3 semanas</option>
                <option value="12">4 semanas</option>
            </select>
        </div>
        <div class="form-group">
            <label for="turno">Turno:</label>
            <select id="turno" name="turno" required>
                <option value="mañana">Mañana completa</option>
                <option value="tarde">Tarde completa</option>
                <option value="día">Día completo</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit">Enviar Reserva</button>
        </div>
    </form>
</div>

<div class="form-container">
    <h2>Reserva de Espacios Coworking 2</h2>
    <form>
        <div class="form-group">
            <label for="meses">Duración del Alquiler (semanas):</label>
            <select id="meses" name="meses" required>
                <option value="1">1 semana</option>
                <option value="3">2 semanas</option>
                <option value="6">3 semanas</option>
                <option value="12">4 semanas</option>
            </select>
        </div>
        <div class="form-group">
            <label for="turno">Turno:</label>
            <select id="turno" name="turno" required>
                <option value="mañana">Mañana completa</option>
                <option value="tarde">Tarde completa</option>
                <option value="día">Día completo</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit">Enviar Reserva</button>
        </div>
    </form>
</div>
<div class="form-container">
    <h2>Reserva de Espacios Coworking 3</h2>
    <form>
        <div class="form-group">
            <label for="meses">Duración del Alquiler (semanas):</label>
            <select id="meses" name="meses" required>
                <option value="1">1 semana</option>
                <option value="3">2 semanas</option>
                <option value="6">3 semanas</option>
                <option value="12">4 semanas</option>
            </select>
        </div>
        <div class="form-group">
            <label for="turno">Turno:</label>
            <select id="turno" name="turno" required>
                <option value="mañana">Mañana completa</option>
                <option value="tarde">Tarde completa</option>
                <option value="día">Día completo</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit">Enviar Reserva</button>
        </div>
    </form>
</div>
<div class="form-container">
    <h2>Reserva de Espacios Coworking 4</h2>
    <form>
        <div class="form-group">
            <label for="meses">Duración del Alquiler (semanas):</label>
            <select id="meses" name="meses" required>
                <option value="1">1 semana</option>
                <option value="3">2 semanas</option>
                <option value="6">3 semanas</option>
                <option value="12">4 semanas</option>
            </select>
        </div>
        <div class="form-group">
            <label for="turno">Turno:</label>
            <select id="turno" name="turno" required>
                <option value="mañana">Mañana completa</option>
                <option value="tarde">Tarde completa</option>
                <option value="día">Día completo</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit">Enviar Reserva</button>
        </div>
    </form>
</div>
<div class="form-container">
    <h2>Reserva de Espacios Coworking 5</h2>
    <form>
        <div class="form-group">
            <label for="meses">Duración del Alquiler (semanas):</label>
            <select id="meses" name="meses" required>
                <option value="1">1 semana</option>
                <option value="3">2 semanas</option>
                <option value="6">3 semanas</option>
                <option value="12">4 semanas</option>
            </select>
        </div>
        <div class="form-group">
            <label for="turno">Turno:</label>
            <select id="turno" name="turno" required>
                <option value="mañana">Mañana completa</option>
                <option value="tarde">Tarde completa</option>
                <option value="día">Día completo</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit">Enviar Reserva</button>
        </div>
    </form>
</div>
<div class="form-container">
    <h2>Reserva de Espacios Coworking 6</h2>
    <form>
        <div class="form-group">
            <label for="meses">Duración del Alquiler (semanas):</label>
            <select id="meses" name="meses" required>
                <option value="1">1 semana</option>
                <option value="3">2 semanas</option>
                <option value="6">3 semanas</option>
                <option value="12">4 semanas</option>
            </select>
        </div>
        <div class="form-group">
            <label for="turno">Turno:</label>
            <select id="turno" name="turno" required>
                <option value="mañana">Mañana completa</option>
                <option value="tarde">Tarde completa</option>
                <option value="día">Día completo</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit">Enviar Reserva</button>
        </div>
    </form>
</div>