<div>
    <header class="header">
        <div class="logo">Logo</div>
        <nav class="menu">
            <ul>
                <li><a routerLink="/">INICIO</a>
                <li><a routerLink="/espacios">ESPACIOS</a>
                <li><a routerLink="/precios">PRECIOS</a>
                <li><a routerLink="/acceso-miembros">ACCESO MIEMBROS</a>
                <li><a routerLink="/registro">REGISTRO</a>
                <li><a routerLink="/contacto">CONTACTO</a>
            </ul>
        </nav>
    </header>
    
    <main>
        <router-outlet></router-outlet>
    </main>
    
    <footer class="footer">
        
    </footer>
</div>