@media screen and (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    main {
        padding: 10px;
    }

    .paragraph-container {
        padding: 10px;
    }
    .contenido-espacio .imagen-caracteristicas {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        justify-content: center;
    }
    .imagen-caracteristicas .imagen-espacio {
max-width: 80%;
margin: 0;
    }
    
}



.containerClassroom {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.contenido-espacio {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.titulo-espacio {
    font-size: 24px;
    margin-top: 10px;
}

.imagen-caracteristicas {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.imagen-espacio {
    max-width: 600px; 
    height: auto;
    margin-right: 20px;
}

.caracteristicas {
    text-align: left;
    flex: 1; 
}

.descripcion-espacio {
    margin-top: 10px;
    text-align: center;
}

.calendar {
    text-align: center;
}

.precio {
    text-align: center;
    font-size: 20px;
    color: aqua;
}