


    <!--mostramos salas
        <div *ngFor="let salas of classrooms">
            <span>{{salas.name}}</span>
            <div *ngFor="let desc of salas.type.desription">
                <li>
                    <ul>desc</ul>
                </li>
            </div>
            <span>{{salas.type.imageData}}</span>
        <hr>
        </div>



</div>
<div>
    <app-calendar></app-calendar>
    <button (click)="reservation()" style="display: block; margin: 0 auto;">Reservar</button>
</div>
-->


    

    <section class="containerClassroom">
        <div class="contenido-espacio">
            <div class="titulo-espacio">Sala de Proyecciones</div>
            <div class="descripcion-espacio">
                Esta sala está equipada con tecnología de proyección de última generación y asientos cómodos la realización de presentaciones o celebración de eventos de hasta 30 personas.
            </div>
            <div class="imagen-caracteristicas">
                <img src="./../../../../assets/sources/img/proyecciones.jpg" alt="Sala de Proyecciones" class="imagen-espacio">
                <div class="caracteristicas">
                    <ul>
                        <li>Dimensiones: 75m2</li>
                        <li>Espacio preparado para presentaciones</li>
                        <li>Aforo: hasta 30 personas</li>
                        <li>Fibra 600Mb Wifi/Eth.</li>
                        <li>Pizarra 2 x 1,2 m</li>
                        <li>Proyector gran angular</li>
                        <li>Monitor 60 pulgadas</li>
                        <li>Altavoces Bluetooth</li>
                        <li>Aire acondicionado</li>
                        <li>Luz natural</li>
                        <li>Mesas y sillas adaptables a necesidades del evento</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="containerClassroom">
        <div class="contenido-espacio">
            <div class="titulo-espacio">Sala de Reuniones</div>
            <div class="descripcion-espacio">
                Espacio preparado para reuniones de equipo o con clientes, brainstorming, selección de personal, trabajo en grupo… La mejor imagen de tu empresa para socios, colaboradores o clientes            </div>
            <div class="imagen-caracteristicas">
                <img src="./../../../../assets/sources/img/sala de reuniones.jpg" alt="Sala de Reuniones" class="imagen-espacio">
                <div class="caracteristicas">
                    <ul>
                        <li>Dimensiones: 40m2</li>
                        <li>Aforo: 10 personas</li>
                        <li>Fibra 600Mb Wifi/Eth.</li>
                        <li>Pizarra 2 x 1,2 m</li>
                        <li>Proyector gran angular</li>
                        <li>Monitor 60 pulgadas</li>
                        <li>Altavoces Bluetooth</li>
                        <li>Aire acondicionado</li>
                        <li>Luz natural</li>
                        <li>Mesas y sillas adaptables a necesidades del evento</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="containerClassroom">
        <div class="contenido-espacio">
            <div class="titulo-espacio">Espacio Coworking</div>
            <div class="descripcion-espacio">
                Todo lo que necesitas para desarrollar tu actividad profesional o comenzar tu proyecto emprendedor. Ambiente fresco, productivo colaborativo y funcional            </div>
            <div class="imagen-caracteristicas">
                <img src="./../../../../assets/sources/img/GENERICAS COWORKING 4.jpg" alt="Sala de Reuniones" class="imagen-espacio">
                <div class="caracteristicas">
                    <ul>
                        <li>Mesa de 110 x 80 cm o 150 x 80cm flexibles</li>
                        <li>Fibra 600Mb Wifi/Eth.</li>
                        <li>Aire acondicionado</li>
                        <li>Luz natural</li>
                        <li>Horario 24/7</li>
                        <li>Alarma</li>
                        <li>Aparcamiento para bicis</li>
                        <li>Dirección postal</li>
                        <li>Máquina de café y microondas</li>
                        <li>Zona de fácil aparcamiento</li>
                        <li>Impresión (coste por copias)</li>
                        <li>Limpieza</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="containerClassroom">
        <div class="contenido-espacio">
            <div class="titulo-espacio">Despachos de larga duración</div>
            <div class="descripcion-espacio">
                Ideales para equipos o para mayor privacidad. Despachos dentro del mismo espacio coworking. Misma filosofía con una pizca más de independencia. Amueblados con capacidad de hasta 5 puestos            </div>
            <div class="imagen-caracteristicas">
                <img src="./../../../../assets/sources/img/SALA REUNIONES.jpg" alt="Sala de Reuniones" class="imagen-espacio">
                <div class="caracteristicas">
                    <ul>
                        <li>Capacidad de hasta 6 puestos</li>
                        <li>Fibra 600Mb Wifi/Eth.</li>
                        <li>Aire acondicionado</li>
                        <li>Luz natural</li>
                        <li>Horario 24/7</li>
                        <li>Alarma</li>
                        <li>Aparcamiento para bicis</li>
                        <li>Dirección postal</li>
                        <li>Máquina de café y microondas</li>
                        <li>Zona de fácil aparcamiento</li>
                        <li>Impresión (coste por copias)</li>
                        <li>Limpieza</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    





