


<h2>Descripción de los espacios</h2>
<div class="espacio">
    <img src="ruta/imagen_sala_proyecciones.jpg" alt="Sala de Proyecciones" class="imagen-espacio">
    <div class="titulo-espacio">Sala de Proyecciones</div>
    <div class="descripcion-espacio">
        Esta sala está equipada con tecnología de proyección de última generación y asientos cómodos la realización de presentaciones o celebración de eventos de hasta 45 personas.
    </div>
</div>
<div class="espacio">
    <img src="ruta/imagen_sala_reuniones.jpg" alt="Sala de Reuniones" class="imagen-espacio">
    <div class="titulo-espacio">Sala de Reuniones</div>
    <div class="descripcion-espacio">
        Nuestra sala de reuniones es perfecta para llevar a cabo reuniones de negocios, entrevistas, presentaciones y sesiones de trabajo colaborativas de hasta 20 personas.
    </div>
</div>
<div class="espacio">
    <img src="ruta/imagen_oficina_alquiler1.jpg" alt="Oficina de Alquiler Prolongado 1" class="imagen-espacio">
    <div class="titulo-espacio">Oficina de Alquiler Prolongado 1</div>
    <div class="descripcion-espacio">
        Estas oficinas son ideales para emprendedores y empresas que necesitan un espacio de trabajo privado y funcional durante un largo período de tiempo.
    </div>
</div>
<div class="espacio">
    <img src="ruta/imagen_oficina_alquiler2.jpg" alt="Oficina de Alquiler Prolongado 2" class="imagen-espacio">
    <div class="titulo-espacio">Oficina de Alquiler Prolongado 2</div>
    <div class="descripcion-espacio">
    Estas oficinas son ideales para emprendedores y empresas que necesitan un espacio de trabajo privado y funcional durante un largo período de tiempo.
    </div>
</div>
<div class="espacio">
    <img src="ruta/imagen_oficina_alquiler3.jpg" alt="Oficina de Alquiler Prolongado 3" class="imagen-espacio">
    <div class="titulo-espacio">Oficina de Alquiler Prolongado 3</div>
    <div class="descripcion-espacio">
        Estas oficinas son ideales para emprendedores y empresas que necesitan un espacio de trabajo privado y funcional durante un largo período de tiempo.
    </div>
</div>
<div class="espacio">
    <img src="ruta/imagen_oficina_alquiler3.jpg" alt="Espacio 1" class="imagen-espacio">
    <div class="titulo-espacio">Espacio de trabajo 1</div>
    <div class="descripcion-espacio">
        Estas oficinas son ideales para emprendedores y empresas que necesitan un espacio de trabajo colaborativo o de bajo coste.
    </div>
</div>

<div class="espacio">
    <img src="ruta/imagen_oficina_alquiler3.jpg" alt="Espacio 2" class="imagen-espacio">
    <div class="titulo-espacio">Espacio de trabajo 2</div>
    <div class="descripcion-espacio">
        Estas oficinas son ideales para emprendedores y empresas que necesitan un espacio de trabajo colaborativo o de bajo coste.
    </div>
</div>

<div class="espacio">
    <img src="ruta/imagen_oficina_alquiler3.jpg" alt="Espacio 3" class="imagen-espacio">
    <div class="titulo-espacio">Espacio de trabajo 3</div>
    <div class="descripcion-espacio">
        Estas oficinas son ideales para emprendedores y empresas que necesitan un espacio de trabajo colaborativo o de bajo coste.
    </div>
</div>

<div class="espacio">
    <img src="ruta/imagen_oficina_alquiler3.jpg" alt="Espacio 4" class="imagen-espacio">
    <div class="titulo-espacio">Espacio de trabajo 4</div>
    <div class="descripcion-espacio">
        Estas oficinas son ideales para emprendedores y empresas que necesitan un espacio de trabajo colaborativo o de bajo coste.
    </div>
</div>

<div class="espacio">
    <img src="ruta/imagen_oficina_alquiler3.jpg" alt="Espacio 5" class="imagen-espacio">
    <div class="titulo-espacio">Espacio de trabajo 5</div>
    <div class="descripcion-espacio">
        Estas oficinas son ideales para emprendedores y empresas que necesitan un espacio de trabajo colaborativo o de bajo coste.
    </div>
</div>

<div class="espacio">
    <img src="ruta/imagen_oficina_alquiler3.jpg" alt="Espacio 6" class="imagen-espacio">
    <div class="titulo-espacio">Espacio de trabajo 6</div>
    <div class="descripcion-espacio">
        Estas oficinas son ideales para emprendedores y empresas que necesitan un espacio de trabajo colaborativo o de bajo coste.
    </div>
</div>
