
  <main>
    <section class="paragraph-container">
      <h1>TODO LO QUE NECESITAS PARA COMENZAR TU PROYECTO YA!</h1>
      <p>¡Deja de darle vueltas a lo que necesitas para empezar! Desde el Ayuntamiento de Carmona lo hemos preparado todo para ti: Inmejorables instalaciones, la mejor ubicación, increíbles compañeros, internet, impresora, aire acondicionado... Ven a Coworking Carmona y apuesta por tu futuro profesional</p>
    </section>
    
    <section class="paragraph-container">
      <h1>HOLA!!</h1>
      <p>¿Eres autónomo? ¿Freelance? ¿Emprendedor? ¿Tienes una Startup? ¿Una PYME? ¿Nómada digital? ¿Estudiante? ¿Tienes un equipo de trabajo? ¿Estás de paso por Carmona? ¿Buscas un entorno profesional? ¿Una oficina compartida? ¿Eventos de networking? ¿Salas de reunión o presentaciones? Reserva tu sitio ya y comienza a formar parte de la comunidad profesional más activa de Sevilla.</p>
    </section>
    
    <section class="paragraph-container">
      <h1>¿TIENES DUDAS?</h1>
      <p>Ponte en contacto con nosotros y te ayudaremos en todo lo que necesites</p>
      <button (click)="redirigirContacto()">Solicitar información</button>
    </section>
    
    <section class="paragraph-container">
      <h1>SERVICIOS</h1>
      <div class="container">
        <div class="icono">
          <img src="./../../../assets/sources/coworking-removebg-preview.png" alt="Icono 1">
          <h2>COWORKING</h2>
          <p>Todo lo que necesitas para desarrollar tu actividad profesional o comenzar tu proyecto emprendedor.</p>
        </div>
        
        <div class="icono">
          <img src="./../../../assets/sources/sala_de_presentaciones-removebg-preview.png" alt="Icono 2">
          <h2>SALA DE PRESENTACIONES</h2>
          <p>Espacio preparado para presentaciones con trabajadores o clientes con toda la tecnología necesaria</p>
        </div>
        
        <div class="icono">
          <img src="./../../../assets/sources/sala_de_reuniones-removebg-preview.png" alt="Icono 3">
          <h2>SALA DE REUNIONES</h2>
          <p>Espacio preparado para reuniones de equipo o con clientes, brainstorming, selección de personal, trabajo en grupo… La mejor imagen de tu empresa para socios, colaboradores o clientes.</p>
        </div>
        
        <div class="icono">
          <img src="./../../../assets/sources/DESPACHOS.png" alt="Icono 4">
          <h2>DESPACHOS</h2>
          <p>Ideales para equipos o para mayor privacidad. Despachos dentro del mismo espacio coworking. Misma filosofía con una pizca más de independencia. Amueblados con capacidad de hasta 5 puestos.</p>
        </div>
        
        <div class="icono">
          <img src="./../../../assets/sources/fibra_optica-removebg-preview.png" alt="Icono 5">
          <h2>FIBRA ÓPTICA</h2>
          <p>Instalaciones dotadas con fibra óptica de hasta 600mb</p>
        </div>
        
        <div class="icono">
          <img src="./../../../assets/sources/flexibilidad en alquileres-removebg-preview.png" alt="Icono 6">
          <h2>FLEXIBILIDAD</h2>
          <p>Intetentamos adaptarnos según la disponibilidad de las instalaciones a tus necesidades para que el alquiler del espacio no suponga un problema para ti.</p>
        </div>
        
        <div class="icono">
          <img src="./../../../assets/sources/tarifas_y_horarios-removebg-preview.png" alt="Icono 7">
          <h2>TARIFAS Y HORARIOS</h2>
          <p>Buscamos la mayor flexibilidad posible para ajustarnos a tus necesidades. Contamos con tarifas a tu medida pero, si necesitas algo especial, solo tienes que pedírnoslo.</p>
        </div>
        
        <div class="icono">
          <img src="./../../../assets/sources/comunidad_y_eventos-removebg-preview.png" alt="Icono 8">
          <h2>COMUNIDAD Y EVENTOS</h2>
          <p>El Coworking se basa en el trabajo en comunidad. Hemos creado un punto de encuentro profesional donde podrás compartir tus conocimientos con otros profesionales, ampliando tu red de contactos y las posibilidades de sintonizar con oportunidades de trabajo.</p>
        </div>
        
        <div class="icono">
          <img src="./../../../assets/sources/contactanos-removebg-preview.png" alt="Icono 9">
          <h2>CONTÁCTANOS</h2>
          <p>Aún está todo por hacer en el Coworking. A diario nos embarcamos en nuevas acciones y proyectos. Si tienes una propuesta o consulta sobre nuestros servicios, no dudes en ponerte en contacto con nosotros. Seguro que podemos ayudarte o comenzar algo juntos.</p>
        </div>
      </div>
    </section>

    <section class="paragraph-container">
      <h1>GALERIA</h1>
      <div class="gallery">
      <img src="./../../../assets/sources/img/ENTRADA.jpg" alt="img1">
      <img src="./../../../assets/sources/img/ESLOGAN PARED.jpg" alt="img2">
      <img src="./../../../assets/sources/img/GENERICAS COWORKING 1.jpg" alt="img3">
      <img src="./../../../assets/sources/img/GENERICAS COWORKING 3.jpg" alt="img4">
      <img src="./../../../assets/sources/img/GENERICAS COWORKING 4.jpg" alt="img5">
      <img src="./../../../assets/sources/img/GENERICAS COWORKING 5.jpg" alt="img6">
      <img src="./../../../assets/sources/img/NOMBRE PORTADA.jpg" alt="img9">
      <img src="./../../../assets/sources/img/proyecciones.jpg" alt="img10">
      <img src="./../../../assets/sources/img/sala de reuniones.jpg" alt="img11">
      <img src="./../../../assets/sources/img/SALA REUNIONES.jpg" alt="img12">
    </div>

    </section>

    <section class="paragraph-container">
      <h1>BASES Y SOLICITUD DE INSCRIPCION</h1>
      <div class="pdf">
        <div class="pdf-item">
          <a href="./../../../assets/sources/Bases_Coworking.pdf" download="nombre-del-archivo.pdf" class="download-button">
            <img src="./../../../assets/sources/PDF_file_icon.svg.png" alt="PDF">
            Descargar Bases
          </a>
        </div>
        <div class="pdf-item">
          <a href="./../../../assets/sources/Solicitus_Inscripcion_Coworking.pdf" download="nombre-del-archivo.pdf" class="download-button">
            <img src="./../../../assets/sources/PDF_file_icon.svg.png" alt="PDF">
            Descargar Solicitud de inscripción
          </a>
        </div>
      </div>
    </section>
    
  </main>

