/* Reset de estilos y ajustes generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(7, 221, 221);
  }
  
  /* Estilos para el encabezado */
  header {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  /* Estilos para el contenido principal */
  main {
    padding: 20px;
  }
  
  /* Estilos para el contenedor de cada párrafo */
  .paragraph-container {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px; /* Esquinas redondeadas */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
    text-align: center; /* Centra todo el contenido dentro del contenedor */
  }
  
  /* Estilos para el h1 en el primer contenedor */
  .paragraph-container:first-child h1 {
    color: rgb(7, 221, 221);
    margin-bottom: 10px;
  }
  
  /* Estilos para el h1 en el tercer contenedor */
  .paragraph-container:nth-child(3) h1 {
    color: rgb(7, 221, 221);
    margin-bottom: 10px;
  }
  
  /* Estilos para el párrafo en el tercer contenedor */
  .paragraph-container:nth-child(3) p {
    font-size: 16px; /* Tamaño de fuente ajustado */
    color: #rgb(7, 221, 221);
    margin-bottom: 10px;
  }
  
  /* Estilos para el botón en el tercer contenedor */
  .paragraph-container:nth-child(3) button {
    background-color: black;
    color: white;
    font-size: 16px; /* Tamaño de fuente ajustado */
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; /* Hace que el botón ocupe todo el ancho del contenedor */
    margin: 0 auto; /* Centra horizontalmente el botón */
  }
  
  button:hover {
    background-color: #333;
    color:  rgb(7, 221, 221);
   
  }
  
  /* Estilos para hacer el sitio responsive */
  @media screen and (max-width: 768px) {
    header {
      padding: 10px 0;
    }
  
    main {
      padding: 10px;
    }
  
    .paragraph-container {
      padding: 10px;
    }
  }
  
  .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
  margin: 0 auto;
}

.icono {
  width: 30%; /* Ajusta el ancho de cada logo según tus necesidades */
  text-align: center;
  margin-bottom: 20px; /* Espacio entre cada logo */
}

.icono img {
  max-width: 100%;
  height: auto;
}

.icono h2 {
  font-size: 18px;
  margin: 10px 0;
}

.icono p {
  font-size: 14px;
}

.paragraph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pdf {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pdf-item {
  text-align: center;
  margin: 10px;
}

.download-button {
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  display: inline-flex; /* Hace que el botón sea un elemento en línea con contenido centrado verticalmente */
  align-items: center; /* Centra el contenido verticalmente dentro del botón */
  margin-top: 10px;
}

.download-button img {
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.download-button:hover {
  background-color: #333;
}


.gallery{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.gallery img{
  max-width: 400px;
  padding: 1rem;
}

